In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
%pip install jupyterlab_play_cell_button

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: jupyterlab_play_cell_button in c:\users\fernando araiza\appdata\roaming\python\python39\site-packages (1.0.0)
Requirement already satisfied: jupyter-server<2,>=1.6 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab_play_cell_button) (1.18.1)
Requirement already satisfied: terminado>=0.8.3 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (0.13.1)
Requirement already satisfied: jupyter-core>=4.7.0 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (4.11.1)
Requirement already satisfied: argon2-cffi in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (21.3.0)
Requirement already satisfied: anyio<4,>=3.1.0 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (3.5.0)
Requirement already satisfied: pyzmq>=17 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (23.2.0)
Requirement already satisfied: traitlets>=5.1 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (5.1.1)
Requirement already satisfied: pywinpty in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (2.0.2)
Requirement already satisfied: jinja2 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (2.11.3)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (7.3.4)
Requirement already satisfied: nbformat>=5.2.0 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (5.5.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (21.3)
Requirement already satisfied: nbconvert>=6.4.4 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (6.4.4)
Requirement already satisfied: tornado>=6.1.0 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (6.1)
Requirement already satisfied: websocket-client in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (0.58.0)
Requirement already satisfied: Send2Trash in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (1.8.0)
Requirement already satisfied: prometheus-client in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (0.14.1)
Requirement already satisfied: sniffio>=1.1 in c:\programdata\anaconda3\lib\site-packages (from anyio<4,>=3.1.0->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (1.2.0)
Requirement already satisfied: idna>=2.8 in c:\programdata\anaconda3\lib\site-packages (from anyio<4,>=3.1.0->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (3.3)
Requirement already satisfied: entrypoints in c:\programdata\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (0.4)
Requirement already satisfied: nest-asyncio>=1.5.4 in c:\programdata\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (1.5.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (2.8.2)
Requirement already satisfied: pywin32>=1.0 in c:\programdata\anaconda3\lib\site-packages (from jupyter-core>=4.7.0->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (302)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (0.8.4)
Requirement already satisfied: defusedxml in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (0.7.1)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (0.5.13)
Requirement already satisfied: pygments>=2.4.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (2.11.2)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (1.5.0)
Requirement already satisfied: bleach in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (4.1.0)
Requirement already satisfied: jupyterlab-pygments in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (0.1.2)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (4.11.1)
Requirement already satisfied: testpath in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (0.6.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (2.0.1)
Requirement already satisfied: fastjsonschema in c:\programdata\anaconda3\lib\site-packages (from nbformat>=5.2.0->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in c:\programdata\anaconda3\lib\site-packages (from nbformat>=5.2.0->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (4.16.0)
Requirement already satisfied: argon2-cffi-bindings in c:\programdata\anaconda3\lib\site-packages (from argon2-cffi->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (21.2.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (3.0.9)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from websocket-client->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (1.16.0)
Requirement already satisfied: attrs>=17.4.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=5.2.0->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=5.2.0->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (0.18.0)
Requirement already satisfied: cffi>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (2.3.1)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from bleach->nbconvert>=6.4.4->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (0.5.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->jupyter-server<2,>=1.6->jupyterlab_play_cell_button) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [2]:
df = pd.read_csv('C:\Airline data\mia_data2.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Airline data\\mia_data2.csv'

In [3]:
df.keys()

Index(['Unnamed: 0.1', 'Unnamed: 0', 'YEAR', 'MONTH', 'DAY_OF_WEEK',
       'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST', 'CRS_DEP_TIME', 'DEP_TIME',
       'DEP_DELAY', 'DEP_DELAY_NEW', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'ARR_DELAY_NEW', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED',
       'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'OP_CARRIER', 'WHY_DELAY', 'DAY', 'DATE', 'DEPARTURE_TIME',
       'ARRIVAL_TIME', 'ALL_LATE_ARR', 'ALL_LATE_DEP', 'LATE_ARR', 'LATE_DEP'],
      dtype='object')

In [4]:
# I want to create dummy values based on the why delay column
dummy = pd.get_dummies(df['WHY_DELAY'])

In [5]:
dummy

        0  carrier  late aircraft  nas  security  weather
0       1        0              0    0         0        0
1       1        0              0    0         0        0
2       1        0              0    0         0        0
3       1        0              0    0         0        0
4       1        0              0    0         0        0
...    ..      ...            ...  ...       ...      ...
736647  1        0              0    0         0        0
736648  1        0              0    0         0        0
736649  1        0              0    0         0        0
736650  0        0              0    1         0        0
736651  0        1              0    0         0        0

[736652 rows x 6 columns]

In [6]:
df = pd.concat([df, dummy], axis = 1)
df.keys()

Index(['Unnamed: 0.1', 'Unnamed: 0', 'YEAR', 'MONTH', 'DAY_OF_WEEK',
       'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST', 'CRS_DEP_TIME', 'DEP_TIME',
       'DEP_DELAY', 'DEP_DELAY_NEW', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'ARR_DELAY_NEW', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED',
       'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'OP_CARRIER', 'WHY_DELAY', 'DAY', 'DATE', 'DEPARTURE_TIME',
       'ARRIVAL_TIME', 'ALL_LATE_ARR', 'ALL_LATE_DEP', 'LATE_ARR', 'LATE_DEP',
       '0', 'carrier', 'late aircraft', 'nas', 'security', 'weather'],
      dtype='object')

In [7]:
df.drop(columns = ['Unnamed: 0.1', 'Unnamed: 0', 'OP_CARRIER_FL_NUM', 'CANCELLATION_CODE', 'DIVERTED',  'CARRIER_DELAY','WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'YEAR', 'MONTH', 'DAY', 'WHY_DELAY']  , inplace = True)

In [8]:
# I need to create two data frames to work on one that is about departures from MIA and the 
#other one that deals with arrivals.

df_arr = df[df.DEST == 'MIA']
df_dep = df[df.ORIGIN == 'MIA']

In [9]:
df_arr

,DAY_OF_WEEK,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,...,ALL_LATE_ARR,ALL_LATE_DEP,LATE_ARR,LATE_DEP,0,carrier,late aircraft,nas,security,weather
0,6.0,STT,MIA,1535,1519.0,-16.0,0.0,1840,1835.0,-5.0,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
1,7.0,STT,MIA,1535,1550.0,15.0,15.0,1840,1840.0,0.0,...,NaN,1535.0,NaN,NaN,1,0,0,0,0,0
2,1.0,STT,MIA,1535,1550.0,15.0,15.0,1840,1846.0,6.0,...,1840.0,1535.0,NaN,NaN,1,0,0,0,0,0
3,2.0,STT,MIA,1535,1533.0,-2.0,0.0,1840,1829.0,-11.0,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
4,3.0,STT,MIA,1535,1557.0,22.0,22.0,1840,1848.0,8.0,...,1840.0,1535.0,NaN,NaN,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736642,4.0,JFK,MIA,1150,1142.0,-8.0,0.0,1451,1444.0,-7.0,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
736644,4.0,BOS,MIA,755,752.0,-3.0,0.0,1125,1110.0,-15.0,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
736645,4.0,DTW,MIA,830,827.0,-3.0,0.0,1123,1120.0,-3.0,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
736647,4.0,LGA,MIA,725,721.0,-4.0,0.0,1016,1009.0,-7.0,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
736648,4.0,ATL,MIA,2225,2222.0,-3.0,0.0,12,5.0,-7.0,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0

In [10]:
df_arr.keys()

Index(['DAY_OF_WEEK', 'ORIGIN', 'DEST', 'CRS_DEP_TIME', 'DEP_TIME',
       'DEP_DELAY', 'DEP_DELAY_NEW', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'ARR_DELAY_NEW', 'CANCELLED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME',
       'OP_CARRIER', 'DATE', 'DEPARTURE_TIME', 'ARRIVAL_TIME', 'ALL_LATE_ARR',
       'ALL_LATE_DEP', 'LATE_ARR', 'LATE_DEP', '0', 'carrier', 'late aircraft',
       'nas', 'security', 'weather'],
      dtype='object')

In [11]:
y = df_arr['weather']

In [10]:
df_arr.drop(columns = ['weather', 'DEST', 'DEPARTURE_TIME', 'DEP_TIME', 'DEP_DELAY', 'carrier' , 'CANCELLED', 'late aircraft', 'nas', 'security', 'ARR_DELAY_NEW' ], inplace = True)

C:\Users\tucso\AppData\Local\Temp\ipykernel_10672\822718329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arr.drop(columns = ['weather', 'DEST', 'DEPARTURE_TIME', 'DEP_TIME', 'DEP_DELAY', 'carrier' , 'CANCELLED', 'late aircraft', 'nas', 'security', 'ARR_DELAY_NEW' ], inplace = True)

In [12]:
df_arr

,DAY_OF_WEEK,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,...,ALL_LATE_ARR,ALL_LATE_DEP,LATE_ARR,LATE_DEP,0,carrier,late aircraft,nas,security,weather
0,6.0,STT,MIA,1535,1519.0,-16.0,0.0,1840,1835.0,-5.0,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
1,7.0,STT,MIA,1535,1550.0,15.0,15.0,1840,1840.0,0.0,...,NaN,1535.0,NaN,NaN,1,0,0,0,0,0
2,1.0,STT,MIA,1535,1550.0,15.0,15.0,1840,1846.0,6.0,...,1840.0,1535.0,NaN,NaN,1,0,0,0,0,0
3,2.0,STT,MIA,1535,1533.0,-2.0,0.0,1840,1829.0,-11.0,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
4,3.0,STT,MIA,1535,1557.0,22.0,22.0,1840,1848.0,8.0,...,1840.0,1535.0,NaN,NaN,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736642,4.0,JFK,MIA,1150,1142.0,-8.0,0.0,1451,1444.0,-7.0,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
736644,4.0,BOS,MIA,755,752.0,-3.0,0.0,1125,1110.0,-15.0,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
736645,4.0,DTW,MIA,830,827.0,-3.0,0.0,1123,1120.0,-3.0,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
736647,4.0,LGA,MIA,725,721.0,-4.0,0.0,1016,1009.0,-7.0,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
736648,4.0,ATL,MIA,2225,2222.0,-3.0,0.0,12,5.0,-7.0,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0

In [13]:
df_arr.keys()

array([  nan,  625., 1230., 1925., 1420.,  600.,  545., 1620., 1105.,
       1415., 1440., 1955., 1810., 1340., 1750., 2000., 1720., 1845.,
        710., 1830.,  835., 1920., 1100., 1210., 1835., 1608., 1010.,
       1600., 1755.,  905., 1715., 1050., 1640.,  720., 1125., 1805.,
       1055., 1905., 1240., 1300., 1500., 1605., 1820.,  910., 1535.,
       2025.,  615., 1735., 1940., 2015., 1800., 1345., 1935., 1020.,
       1919., 1220., 1305., 1825., 1930.,  735., 1540.,  715., 1650.,
       1515., 1245., 1850.,  900., 1730.,  809., 1745., 1405.,  700.,
       2010.,  730., 1110., 1529., 2200., 1140., 1900., 1355.,  925.,
       2035., 2350.,  855., 1129., 1505., 1410., 1725., 2150., 1205.,
       1530.,  655., 1635., 1000., 1235.,  630.,  605., 1610., 2045.,
       1729.,  640.,  620., 1855., 1710., 1315., 1459., 1840., 1311.,
       1359., 1740.,  755., 1630., 1625., 1614.,  800., 2050., 1335.,
       1455., 1700., 1135., 1251., 1027., 1425., 1655.,  845., 1200.,
       1645., 1555., 1430., 1945., 1525., 1445., 1231., 1915., 1612.,
       2220.,  915., 2040.,  610., 1912.,  725., 1350.,  950.,  550.,
       2030., 1025., 1400., 1815., 1705., 1545., 1910., 1005., 2255.,
       1615.,  741., 2020.,  500.,  627., 1115., 1006., 1950., 1441.,
       1913., 1310.,  810., 1703., 2055., 1040., 1929., 1120., 1434.,
       2345.,  638., 2005., 1304., 1114., 1928., 2130., 2107., 1330.,
        740.,  930., 1255., 1045., 1939.,  936., 1155., 2342., 2100.,
       2117., 1316., 1229., 1659., 1857., 1902., 2037., 1537., 1734.,
       1726., 1812., 1435.,  705., 1325., 1112., 1426., 1804., 2228.,
       1150., 1901., 1833.,  535.,  552., 1510., 1538., 1859., 1007.,
       1741., 1938., 1117.,  749., 2301., 1648., 1908.,  759., 1218.,
       1827.,  544., 1944., 1716., 1653., 1739., 1733., 1717., 1753.,
       1149., 1412., 2110., 2359., 1156., 1127., 1501., 1819.,  839.,
        805., 1018., 1714., 1743., 1747., 1208., 1033., 1932., 1953.,
       2120., 1527., 1826., 1011., 1121., 1344., 2235., 1709.,  830.,
        820.,  708., 1517., 1542., 1321., 1828., 1015., 1917., 2153.,
       1611., 1520.,  920.,  555.,  850.,  840., 1550., 1035., 2155.,
        745., 2215., 1849., 1225.,  945., 1030., 1357., 2019.,  807.,
       1450.,  959., 1933.,  955., 1738., 1351., 2219.,  530., 1559.,
       1838., 1241., 1959., 1841., 1250., 1941., 1409., 1329., 1320.,
       1215., 1744., 2145.,  948., 1049., 1145., 1623., 1751., 1732.,
       1448., 2159., 2205., 1419., 1854., 2216., 1431., 2230., 1249.,
       2135., 2016., 1552., 1352., 1621., 1643.,  731.,    5., 1151.,
       1922., 2014., 1022., 2226., 1909., 1533., 1401., 1656., 2240.,
       1759.,  838., 1153., 1809., 1204., 1638., 1727., 1536.,  536.,
        729., 1417., 1232., 1342.,  525.,  628., 1353., 1622., 1147.,
       1248., 2109., 1641., 1918., 2258., 1609., 1952.,  540.,  833.,
        937., 1403., 1814., 1837., 1906., 1048.,  914., 2001.,  645.,
        549., 1528., 1124., 1757., 2311., 1821., 1629., 1202., 1934.,
       1937.,  601., 2138., 1233.,  609., 1839., 1813., 2046., 1646.,
       1016., 1348., 1108., 1302., 1737., 2210., 1847., 2134., 2325.,
       1633., 1306., 1636.,   45., 1541., 1214.,  706., 1213., 2029.,
        940., 2225.,  952.,  837., 1046., 1314., 2047., 1617., 2018.,
        935., 1824., 2250., 1209.,  939.,  602., 1926., 2101., 1829.,
         55., 1948., 2059., 1921., 2244., 1731., 1724., 1904., 1628.,
       1543., 1658., 1307., 2027., 1429., 2111.,  726., 1256., 1152.,
       2140., 1651., 1639., 1126., 2209., 2106.,  737., 1736., 1539.,
       1154., 1341., 1157., 1803., 1237., 1947., 1924., 2042.,  510.,
       1718., 1823., 1239., 1532., 1546., 1613., 1534., 1358., 1101.,
       1012.,  656., 1811.,  825., 1029., 1058., 1616., 1406., 1257.,
       2043., 1226., 2202., 1702., 2008., 2121., 2236.,  815., 2249.,
       2259., 1333., 1019.,  635., 2330., 1852., 1313., 1556.,  844.,
       2105., 1438., 1318., 2056.,  659., 1259., 1642.,  650., 2126.,
       1148., 1931., 2239.,   20.,  727., 1309., 1244., 2326., 1742.,
        614., 1036., 1328.,  756., 1624., 1831.,  657., 1247., 1927.,
       1808., 2031., 1544.,  829.,    4., 1522., 1836.,  629.,  557.,
         12., 1422.,  801., 1548., 1856., 2224.,  639.,  608., 1626.,
       1453.,  631., 1327., 1216.,  819., 2125., 1458., 1057., 1502.,
        750.,  857., 1042., 2054., 2305., 1427., 1221., 1138.,  724.,
       1402., 1606., 1652., 1721.,  623., 1654., 1816., 1404.,  515.,
       1749., 1719.,  722.,  746., 1722., 1346., 1037.])

In [14]:
X_arr_train, X_arr_test, y_arr_train, y_arr_test = train_test_split(df_arr, y, test_size = .33, random_state = 42)

In [15]:
y_dep = df_dep['weather']

In [17]:
df_dep.drop(columns = ['weather'])

,DAY_OF_WEEK,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,...,ARRIVAL_TIME,ALL_LATE_ARR,ALL_LATE_DEP,LATE_ARR,LATE_DEP,0,carrier,late aircraft,nas,security
44,6.0,MIA,IAH,1450,1446.0,-4.0,0.0,1640,1633.0,-7.0,...,16:40:00,NaN,NaN,NaN,NaN,1,0,0,0,0
45,7.0,MIA,IAH,1450,1447.0,-3.0,0.0,1640,1633.0,-7.0,...,16:40:00,NaN,NaN,NaN,NaN,1,0,0,0,0
46,1.0,MIA,IAH,1450,1447.0,-3.0,0.0,1640,1622.0,-18.0,...,16:40:00,NaN,NaN,NaN,NaN,1,0,0,0,0
47,2.0,MIA,IAH,1450,1456.0,6.0,6.0,1640,1639.0,-1.0,...,16:40:00,NaN,1450.0,NaN,NaN,1,0,0,0,0
48,3.0,MIA,IAH,1450,1553.0,63.0,63.0,1640,1732.0,52.0,...,16:40:00,1640.0,1450.0,NaN,NaN,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736643,4.0,MIA,LGA,1730,1720.0,-10.0,0.0,2032,2006.0,-26.0,...,20:32:00,NaN,NaN,NaN,NaN,1,0,0,0,0
736646,4.0,MIA,JFK,1510,1503.0,-7.0,0.0,1814,1747.0,-27.0,...,18:14:00,NaN,NaN,NaN,NaN,1,0,0,0,0
736649,4.0,MIA,MSP,1346,1339.0,-7.0,0.0,1627,1608.0,-19.0,...,16:27:00,NaN,NaN,NaN,NaN,1,0,0,0,0
736650,4.0,MIA,ATL,806,842.0,36.0,36.0,955,1034.0,39.0,...,09:55:00,955.0,806.0,NaN,NaN,0,0,0,1,0
736651,4.0,MIA,ATL,1345,1431.0,46.0,46.0,1538,1630.0,52.0,...,15:38:00,1538.0,1345.0,NaN,NaN,0,1,0,0,0

In [18]:
df_dep.keys()

Index(['DAY_OF_WEEK', 'ORIGIN', 'DEST', 'CRS_DEP_TIME', 'DEP_TIME',
       'DEP_DELAY', 'DEP_DELAY_NEW', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'ARR_DELAY_NEW', 'CANCELLED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME',
       'OP_CARRIER', 'DATE', 'DEPARTURE_TIME', 'ARRIVAL_TIME', 'ALL_LATE_ARR',
       'ALL_LATE_DEP', 'LATE_ARR', 'LATE_DEP', '0', 'carrier', 'late aircraft',
       'nas', 'security', 'weather'],
      dtype='object')

In [19]:
df_dep.drop(columns = ['ORIGIN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'ARR_DELAY_NEW', 'CANCELLED', 'ARRIVAL_TIME', 'ALL_LATE_ARR', 'LATE_ARR','carrier', 'late aircraft', 'nas', 'security'], inplace = True)

C:\Users\tucso\AppData\Local\Temp\ipykernel_15356\456973482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dep.drop(columns = ['ORIGIN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'ARR_DELAY_NEW', 'CANCELLED', 'ARRIVAL_TIME', 'ALL_LATE_ARR', 'LATE_ARR','carrier', 'late aircraft', 'nas', 'security'], inplace = True)

In [20]:
df_dep

,DAY_OF_WEEK,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,OP_CARRIER,DATE,DEPARTURE_TIME,ALL_LATE_DEP,LATE_DEP,0,weather
44,6.0,IAH,1450,1446.0,-4.0,0.0,170.0,167.0,NaN,2010-05-01,14:50:00,NaN,NaN,1,0
45,7.0,IAH,1450,1447.0,-3.0,0.0,170.0,166.0,NaN,2010-05-02,14:50:00,NaN,NaN,1,0
46,1.0,IAH,1450,1447.0,-3.0,0.0,170.0,155.0,NaN,2010-05-03,14:50:00,NaN,NaN,1,0
47,2.0,IAH,1450,1456.0,6.0,6.0,170.0,163.0,NaN,2010-05-04,14:50:00,1450.0,NaN,1,0
48,3.0,IAH,1450,1553.0,63.0,63.0,170.0,159.0,NaN,2010-05-05,14:50:00,1450.0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736643,4.0,LGA,1730,1720.0,-10.0,0.0,182.0,166.0,NaN,2021-09-16,17:30:00,NaN,NaN,1,0
736646,4.0,JFK,1510,1503.0,-7.0,0.0,184.0,164.0,NaN,2021-09-16,15:10:00,NaN,NaN,1,0
736649,4.0,MSP,1346,1339.0,-7.0,0.0,221.0,209.0,NaN,2021-09-16,13:46:00,NaN,NaN,1,0
736650,4.0,ATL,806,842.0,36.0,36.0,109.0,112.0,NaN,2021-09-16,08:06:00,806.0,NaN,0,0
736651,4.0,ATL,1345,1431.0,46.0,46.0,113.0,119.0,NaN,2021-09-16,13:45:00,1345.0,NaN,0,0

In [21]:
X_dep_train, X_dep_test, y_dep_train, y_dep_test = train_test_split(df_dep, y_dep, test_size = .33, random_state = 42)